{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>
        The Resume Analyzing system will be able to identify the probability of a job-seeking candidate landing the job based on the job description provided by them. It will achieve this task by finding similarities between the job description and the candidate’s resume, creating a vocabulary and by applying other Natural Language Processing techniques. By identifying the keywords and creating a vocabulary of these vectorized keywords, we can compare the candidate’s resume to the job description and predict the possibility of the resume going through the Application Tracking System.
    </p>

{% endblock content %}
